*.fxp
*.err
*.csv
*.txt
*.xml
*.pdf
*.dbf
*.cdx
*.fpt
*.idx
*.cdx
*.csv
*.tmp
*.swp
kcacctldg.*
*.un~
data/
out/
xml/
pmaccgtldg.txt
kcaccgtldg.txt
pmtlymasout.xml
pmbilltmp.xml
kcacctldg
kcbilltmp.xml
kctlymasout.xml

